/* 全体 */
/* .body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 150;
} */
body{
  place-items: center;
  font-family: Arial, sans-serif;
}
/*ヘッダーのスタイル */
header {
  background-color: #b8df0b;
  color: #fff;
  padding: 5px;
}
h1 {
  text-align: center;
}
body {
  text-align: center;
}

img {
  width: 7%;
  height: auto;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
  }
.vertical-button{
  background-color: rgb(22, 243, 70);
  border: none;
  border-radius:20%;
  padding: 20px 30px; 

}
.container {
  display: flex;
  justify-content: center; /* 横方向（水平方向）の中央寄せ */
  align-items: center; 
}

.left, .right {
  flex: 1;
  text-align: left;
  margin: 0 50px;
}
.left{
  position: relative;
  left: 20%;
}
/*ログイン画面のCSS*/
img.loginImg {
  width: 30px;
  height: 40px;
  position: relative;
  top: 16px;
  right: 10px;
}
.button_line007 {
  position: relative;
  top: 16px;
  right: 10px;
}
/* ランキング管理画面のCSS　*/
.button {
  bottom: 100;
}
.p1 {
  height: 22px;
}
.button_line007{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 30vh;
}
/* チーム名管理用のCSS */
.button1 {
  position: fixed;
  left: 150px;
  bottom: 0;
}
.button2 {
  position: fixed;
  right: 150px;
  bottom: 0;
}
/*テーブル用css*/
table {
  width: 300px;
  position: absolute;
  top: 25%;
  left: 35%;
  border-collapse:  collapse; /* セルの線を重ねる */
}
th {
  background-color: #06c5f5;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px; 
}
td {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px; 
}
.button_table{
  justify-content: center; 
  align-items: center; 
  height: 15vh;
  display: flex;
}

/* 入力アカウント管理用 */
.inputacount{
  width: 500px;
  position: absolute;
  top: 25%;
  left: 30%;
}
.email{
  width: 200rem;
}
.pass{
  width: 100rem;
}
.delete{
  width: 50rem;
}

/*競技選択画面のcss*/
.button_transition{
  width: 10rem;
  top: 2rem;
  margin-left: 5rem;
  position: absolute;
}

/*戻る、次へボタン*/
#back{
  width: 10rem;top: 25rem; margin-right: 25rem;
}
#next{
  width: 10rem;top: 25rem; margin-left: 5rem;
}

/* スマホ */
@media (max-width: 600px) {
  .container {
    display: block;
  }
  .myNewElement{
    font-size: 3vw;
  }
  .box {
    width: 100%;
  }
  .button1 {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .button2 {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .button3 {
    position: fixed;
    left: 150px;
    bottom: 0;
  }
  .button4 {
    position: fixed;
    right: 150px;
    bottom: 0;
  }
  
  /*line007を縦並べ */
  .button_line007{
    flex-direction: column;
  }
  /*button_tableのflex解除 */
  .button_table{
    display: block;
    margin-left: 5rem;
    flex-direction: column;
  }
  /*戻るボタン*/
  #back{
    left: 10%;
    bottom: 110%;
  }
  /*次へボタンなど*/
  #next{
    right: 17%;
    bottom: 110%;
  }
  /*tabale*/
  table{
    left: 15%;
  }
  /*チーム選択*/
  .resp_TeamSelect{
    width: 10rem;
    }
  /*チーム名管理*/
  .resp_TeamAdmin{
    width: 10rem;
    }
  /*ランキング*/
  .resp_Ranking{
    width: 10rem;
    }
  /*ランキング管理画面*/
  .resp_RankingAdmin{
    width: 10rem;
    }
  /*ログイン*/
  .resp_Rogin{
    width: 10rem;
    }
  /*競技選択*/
  .resp_CompetitionSelect{
    width: 10rem;
    }
  /*競技名管理*/
  .resp_CompetitionAdmin{
    width: 10rem;
    }.button17{
      width: 10rem;
      top: 25rem;
      margin-right: 25rem;
    }.button18{
      width: 10rem;
      top: 25rem;
      margin-right: 5rem;
    }

  /*勝敗選択*/
  .resp_VictorySelect{
    width: 10rem;
    }
  /*点数入力*/
  .resp_PointInput{
    width: 10rem;
    }
  /*入力アカウント管理*/
  .resp_InputAccountAdmin{
    width: 10rem;
    }
    .inputacount{
      width: 350px;
      position: absolute;
      top: 25%;
      left: 10%;
    }
    .email{
      width: 150px;
    }
    .pass{
      width: 70px;
    }
    .delete{
      width: 50px;
    }
  /*入力者管理画面*/
  .resp_InputerAdmin{
    width: 10rem;
    }

}
PHP
.parent {
 display: flex;
 justify-content: space-between;
}
 
.child {
 color: #fff;
 border: solid 1px #fff;
 text-align: center;
 line-height: 100px;
 width: 100px;
 height: 100px;
 background-color: blue;
}
.button-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100px;
  padding: 0px;
}
.button5 {
  margin-right: 50px;
}
.button-container3 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #eee;
}
.button-container3 a:hover {
  background: #ebfcfe;
  color: #6bb6ff;
}
.button-container3 a:before, .button-container3 a:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  }
  .button-container3 a:before {
  top: 0;
  left: 0;
  }
  .button-container3 a:after {
  bottom: 0;
  right: 0;
  }
  .button-container3 a:hover:before, .button-container3 a:hover:after {
  width: 100%;
  height: 100%;
  }
  .button-container3 a:hover:before {
  border-top-color: #6bb6ff;
  border-right-color: #6bb6ff;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
  }
  .button-container3 a:hover:after {
  border-bottom-color: #6bb6ff;
  border-left-color: #6bb6ff;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
  }

/* LINE007 */
.button_line007 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #06c5f5;
}
.button_line007 a:hover {
  background: #b8df0b;
  color: #eee;
}
.button_line007 a:before, .button_line007 a:after {
box-sizing: inherit;
content: "";
position: absolute;
border: 2px solid transparent;
width: 0;
height: 0;
}
.button_line007 a:before {
top: 0;
left: 0;
}
.button_line007 a:after {
bottom: 0;
right: 0;
}
.button_line007 a:hover:before, .button_line007 a:hover:after {
width: 100%;
height: 100%;
}
.button_line007 a:hover:before {
border-top-color: #eee;
border-right-color: #eee;
transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.button_line007 a:hover:after {
border-bottom-color: #eee;
border-left-color: #eee;
transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}

/* table用button */
.button_table a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #06c5f5;
}
.button_table a:hover {
  background: #b8df0b;
  color: #eee;
}
.button_table a:before, .button_table a:after {
box-sizing: inherit;
content: "";
position: absolute;
border: 2px solid transparent;
width: 0;
height: 0;
}
.button_table a:before {
top: 0;
left: 0;
}
.button_table a:after {
bottom: 0;
right: 0;
}
.button_table a:hover:before, .button_table a:hover:after {
width: 100%;
height: 100%;
}
.button_table a:hover:before {
border-top-color: #eee;
border-right-color: #eee;
transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.button_table a:hover:after {
border-bottom-color: #eee;
border-left-color: #eee;
transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}
.myTextBox3 {
  height: 200px;
  font-size: 20px;
}
/**::placeholder{
  font-size: 20px;
}