/* 全体 */
body {
  display: grid;
  place-items: center;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1em;
  padding: 5px;
  background:#2bff00;
}
img {
  width: 7%;
  height: auto;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
  }
.vertical-button{
  background-color: rgb(22, 243, 70);
  border: none;
  border-radius:20%;
  padding: 20px 30px; 

}
.container {
  display: flex;
  justify-content: center; /* 横方向（水平方向）の中央寄せ */
  align-items: center; 
}

.left, .right {
  flex: 1;
  text-align: center;
  margin: 0 0px;
}
p1 {
  height: 22px;
}
/* チーム名管理用のCSS */
.button1 {
  position: fixed;
  left: 150px;
  bottom: 0;
}
.button2 {
  position: fixed;
  right: 150px;
  bottom: 0;
}

/* 入力アカウント管理用 */
.container2 {
  display: flex;
  align-items: center; /* 縦方向の中央揃え */
}

.container2 p {
  margin-right: 10px; /* テキストとボタンの間にスペースを設定 */
}
.accountcontainer {
  width: 300px; /* 幅を設定 */
  height: 200px; /* 高さを設定 */
  overflow: auto; /* スクロールバーを表示 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  justify-content: space-between;
} 
.item {
width: 100%;
}

/* スマホ */
@media (max-width: 600px) {
  .container {
    display: block;
  }
  .myNewElement{
    font-size: 3vw;
  }
  .box {
    width: 100%;
  }
  .button1 {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .button2 {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .button3 {
    position: fixed;
    left: 150px;
    bottom: 0;
  }
  .button4 {
    position: fixed;
    right: 150px;
    bottom: 0;
  }
}





  
  
  
  
  
