.myTextBox4{
    width: 200px;
    height: 40px;
    font-size: 20px;
}
.button7{
    width: 10rem;
    top: 25rem; 
    margin-right: 25rem;
}
.button8{
    width: 10rem;
    top: 25rem; 
    margin-left: 5rem;
}