.round-button {
    display: inline-block;
    border: none;
    border-radius: 50px;
    background-color: #4caf50;
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 16px 40px;
    cursor: pointer;
}

.button_line007{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}
.choice{
    margin-right: 5rem;
    margin-left: 8rem;
}
.choice1{
    margin-left: 5rem;
    margin-right: 2rem;
}
.button9{
    width: 10rem;
}
.button10{
    width: 10rem;
    top: 2rem; 
    margin-right: 5rem;
}
@media (max-width: 600px) {
    .button10{
        position: absolute;
        left: 6%;
    }
}