#myDropdown{
    width: 6rem;
    height: 3rem; 
    font-size: 1.3rem;
}
.button13{
    position:  absolute;
    width: 10rem;
    top: 2rem;
    left: 5%;
}
.button14{
    width: 10rem;
    top: 2rem; 
    left: 3rem;
}
@media (max-width: 600px) {
    .button13{
        position: absolute;
        left: 6%;
    }
    .button14{
        position: absolute;
        left: 6%;
    }
}