.alertarea input[type="email"] {
    width: 250px;
    height: 25px; 
    font-size: 20px;
}

.alertarea input[type="tel"] {
    width: 250px;
    height: 25px; 
    font-size: 20px;
}
.button21 {
    width: 10rem;
    top: 2rem; 
    margin-left: 25rem;
}
