.button_line007{
    justify-content: center;
    align-items: center;
    height: 35vh; 
}
.button_line008{
    margin-right: 5rem;
}
.button22{
    width: 10rem;
}
.button23{
    width: 10rem;
    top: 2rem;
    margin-right: 5rem;
}

@media (max-width: 600px) {
    .button_line008{
        position: absolute;
        left: 6rem;
    }
}