.button15{
    width: 10rem;
    top: 2rem;
    margin-right: 5rem;
}
.button16{
    width: 10rem;
    top: 2rem;
    margin-left: 5rem;
}
.checkbox-container {
    display: flex;
    align-items: center;
  }

  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
  }
  .checkbox-label {
    margin-bottom: 5px;
  }