.myTextBox3{
    width: 250px;
    height: 40px;
    font-size: 400px
}
.button17{
    width: 10rem;
    top: 25rem; 
    margin-right: 25rem;
}
.button18{
    width: 10rem;
    top: 25rem; 
    margin-left: 5rem;
}