.myTextBox3 {
    width: 200px;
    height: 40px;
    font-size: 16px; /* 適切なフォントサイズを指定してください */
}
.button17{
    width: 10rem;
    top: 25rem; 
    margin-right: 25rem;
}
.button18{
    width: 10rem;
    top: 25rem; 
    margin-left: 5rem;
}
